name: CI/CD Pipeline

on:
    push:
        branches: ['main']
    pull_request:
        branches: ['main']

jobs:
    # CI Job: Build and Test
    ci:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout source code
              uses: actions/checkout@v4

            - name: Set up JDK 17
              uses: actions/setup-java@v3
              with:
                  java-version: '17'
                  distribution: 'temurin'

            - name: Make gradlew executable
              run: chmod +x ./gradlew

            # Inject application.yml from Secrets
            - name: Make application.yml
              run: |
                  cd ./src/main/resources
                  touch application.yml
                  echo "${{ secrets.APPLICATION_YML }}" > application.yml
              shell: bash

            - name: Build with Gradle
              run: ./gradlew clean build -x test

            - name: Run Tests
              run: ./gradlew test

    # CD Job: Build and Push Docker Image (Only on Push to main)
    cd:
        needs: ci
        if: github.event_name == 'push'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout source code
              uses: actions/checkout@v4

            # Inject application.yml AGAIN for Docker Build context
            - name: Make application.yml
              run: |
                  cd ./src/main/resources
                  touch application.yml
                  echo "${{ secrets.APPLICATION_YML }}" > application.yml
              shell: bash

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2

            - name: Login to Docker Hub
              uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v4
              with:
                  context: .
                  push: true
                  tags: |
                      ${{ secrets.DOCKER_USERNAME }}/joojeol-backend:latest
                      ${{ secrets.DOCKER_USERNAME }}/joojeol-backend:${{ github.sha }}
